@model CMS.Data.Entities.Concert

@{
    ViewData["Title"] = "Create Concert";
}

<h1>Create Concert</h1>

<h4>Concert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Title -->
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Performer -->
            <div class="form-group">
                <label asp-for="Performer" class="control-label"></label>
                <input asp-for="Performer" class="form-control" />
                <span asp-validation-for="Performer" class="text-danger"></span>
            </div>

            <!-- Venue -->
            <div class="form-group">
                <label asp-for="VenueId" class="control-label"></label>
                <select asp-for="VenueId" class="form-control" asp-items="ViewBag.VenueId">
                    <option value="">Select Venue</option>
                </select>
                <span asp-validation-for="VenueId" class="text-danger"></span>
            </div>

            <!-- Date -->
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <!-- Ticket Price -->
            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label"></label>
                <input asp-for="TicketPrice" class="form-control" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>

            <!-- Available Tickets -->
            <div class="form-group">
                <label asp-for="AvailableTickets" class="control-label"></label>
                <input asp-for="AvailableTickets" class="form-control" />
                <span asp-validation-for="AvailableTickets" class="text-danger"></span>
            </div>

            <!-- IsSoldOut -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="IsSoldOut" name="IsSoldOut" value="true">
                <label class="form-check-label" for="IsSoldOut">
                    Is Sold
                </label>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
